{erl_opts, [{parse_transform, lager_transform}, debug_info, warnings_as_errors]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{preprocess, true}]}.
{deps, [

]}.
{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(dtrace)\" : Mod)", []}]}.
